/freenas/archive        -fstype=nfs,rw,bg,intr,hard,tcp,noatime,rsize=32769,wsize=32768,acregmin=3,acregmax=15,acdirmin=15,acdirmax=30 {{ freenas_ip }}:/mnt/pool0/archive
/freenas/dump           -fstype=nfs,rw,bg,intr,hard,tcp,noatime,rsize=32769,wsize=32768,acregmin=3,acregmax=15,acdirmin=15,acdirmax=30 {{ freenas_ip }}:/mnt/pool0/dump
/freenas/games          -fstype=nfs,rw,bg,intr,hard,tcp,noatime,rsize=32769,wsize=32768,acregmin=3,acregmax=15,acdirmin=15,acdirmax=30 {{ freenas_ip }}:/mnt/pool0/games
/freenas/mirrors        -fstype=nfs,rw,bg,intr,hard,tcp,noatime,rsize=32769,wsize=32768,acregmin=3,acregmax=15,acdirmin=15,acdirmax=30 {{ freenas_ip }}:/mnt/pool0/mirrors
/freenas/music          -fstype=nfs,rw,bg,intr,hard,tcp,noatime,rsize=32769,wsize=32768,acregmin=3,acregmax=15,acdirmin=15,acdirmax=30 {{ freenas_ip }}:/mnt/pool0/music
/freenas/photos         -fstype=nfs,rw,bg,intr,hard,tcp,noatime,rsize=32769,wsize=32768,acregmin=3,acregmax=15,acdirmin=15,acdirmax=30 {{ freenas_ip }}:/mnt/pool0/photos
/freenas/videos         -fstype=nfs,rw,bg,intr,hard,tcp,noatime,rsize=32769,wsize=32768,acregmin=3,acregmax=15,acdirmin=15,acdirmax=30 {{ freenas_ip }}:/mnt/pool0/videos