/synology/archive        -fstype=nfs,rw,bg,intr,hard,tcp,noatime,rsize=32769,wsize=32768,acregmin=3,acregmax=15,acdirmin=15,acdirmax=30 {{ synology_ip }}:/volume1/archive
/synology/dump           -fstype=nfs,rw,bg,intr,hard,tcp,noatime,rsize=32769,wsize=32768,acregmin=3,acregmax=15,acdirmin=15,acdirmax=30 {{ synology_ip }}:/volume1/dump
/synology/games          -fstype=nfs,rw,bg,intr,hard,tcp,noatime,rsize=32769,wsize=32768,acregmin=3,acregmax=15,acdirmin=15,acdirmax=30 {{ synology_ip }}:/volume1/games
/synology/music          -fstype=nfs,rw,bg,intr,hard,tcp,noatime,rsize=32769,wsize=32768,acregmin=3,acregmax=15,acdirmin=15,acdirmax=30 {{ synology_ip }}:/volume1/music
/synology/photos         -fstype=nfs,rw,bg,intr,hard,tcp,noatime,rsize=32769,wsize=32768,acregmin=3,acregmax=15,acdirmin=15,acdirmax=30 {{ synology_ip }}:/volume1/photos
/synology/videos         -fstype=nfs,rw,bg,intr,hard,tcp,noatime,rsize=32769,wsize=32768,acregmin=3,acregmax=15,acdirmin=15,acdirmax=30 {{ synology_ip }}:/volume1/videos